// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #3a3c40;
}

.link {
  stroke: #407dd8;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c; 
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d84048;
}

.link--target {
  stroke: #6ba26b;
}


.header {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	color: #3a3c40;
	line-height: 60px;
}

.header-blue{
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	color: #407dd8;
	}

.header-big {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 69px;
	color: #3a3c40;
}

.top{
	margin-top:50px;
}

svg {
    position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	
	margin-top: 0px;
	
}

#changer{
	font-weight:bold;
}

.marke{
	padding-top: 15px;
	font-size: 20px;
}

.menu{
	width:700px;
	padding-top:20px;
	position: absolute;
	display: block;
 	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  	
  	z-index:1;
}


.btn-custom {
	font-family: 'Oswald', sans-serif;
 	 border-radius: 0;
 	 border-color: #e8e8e8;
 	 -webkit-transition: background linear 350ms;
   &:hover { background-color: #9fbbe5; border-color: #e8e8e8; -webkit-transition: background linear 350ms;}
}

.footer{
	font-family: 'Oswald', sans-serif;
	font-size: 23px;
	color: #3a3c40;
	height: 30px;
	background: #F1F1F1;
}
